/*  */
.facts {
  background-image: linear-gradient(
    360deg,
    rgba(121, 119, 154) 0%,
    rgba(58, 54, 106) 50%,
    rgba(3, 3, 56) 100%
  );
  /* background-image: url(../images/toolbg.gif); */
}
ul.numbersList {
  margin: 50px auto 0px;
  padding: 0px;
  overflow: hidden;
  list-style: none;
  text-align: center;
}
ul.numbersList li {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
ul.numbersList li:last-child {
  border: none;
}
ul.numbersList h4 {
  color: aqua;
  margin-bottom: 58px;
}
ul.numbersList span {
  font-size: 62px;
  font-weight: 700;
  color: #fff;
}

.numbers-title {
  padding: 10px 0;
  position: relative;
}
