.footer {
  background-color: rgba(3, 3, 56);
  height: 200px;
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
  border-top: 40px solid #c7ecee;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.f-icons a {
  border: 2px solid transparent;
}
.f-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.f-icons a:hover {
  border: 2px solid white;
  border-radius: 2px;
}
@media (max-width: 450px) {
  .f-icons {
    gap: 30px;
  }
}
